<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link href="public\assets\css\burger_style.css" rel="stylesheet">

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center">Welcome to Pun Burger!</h1>
        <p class="lead text-center">Tickle your palette and your funny bone!!</p>
    </div>
</div>

<h2>Can I take your order?</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Create your own</h2>
            <form id="create-burger" class="create-form">

                <div class="form-group">
                    <label for="ca">Burger Name:</label>
                    <input type="text" id="ca" name="name">
                </div>
                <button type="submit">Create</button>
            </form>

        </div>
        <div class="col-md-4" id="specials">
            <h2>Specials</h2>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-sm-4" id="eaten-burger">
            <h2>Eaten</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <script type="text/javascript">
        $("#create-burger").on("submit", function (event) {
            event.preventDefault();
            var newBurger = {
                name: $("#create-burger [name=name]").val().trim()
            };
            $.ajax("/api/burgers", {
                type: "POST",
                data: newBurger
            }).then(
                function () {
                    console.log("Created New Burger");
                    location.reload();
                }
            );
        });
        $(".change-devoured").on("click", function (event) {
            var id = $(this).data("id");
            var ate = $(this).data("newdevoured");
            var devouredState = {
                devoured: ate
            };
            $.ajax("/api/burgers/" + id, {
                type: "PUT",
                data: devouredState
            }).then(function () {
                console.log("Changed Devoured to true ", ate);
                location.reload();
            })
        });
        $("#deleted-Burger").on("click", function (event) {
            var id = $(this).data("id");
            $.ajax("/api/burgers/" + id, {
                type: "DELETE"
            }).then(
                function () {
                    console.log("Deleted Burger: ", id);
                    location.reload();
                }
            );
        });
    </script>